[Desktop Entry]
Type=Application
Version=1.0
Name=Ultimate Gaming Client
Comment=Open Source PC Game Streaming Client
Exec=moonlight-tv
Icon=moonlight-tv
Terminal=false
Categories=Game;RemoteAccess